h2{
    background-color: purple;
    color: white;
    padding: 10px;
}
h3{
    background-color: lightblue;
    color: black;
    float: left;
    margin-right: 35px;
    text-align: center;
    padding: 3%;
}

body{
    background-color: peachpuff;
}

.para{
    background-color: mediumslateblue;
    color: white;
    padding: 10px;
}

#game{
    float: left;
    color: white;
    background-color: gray;
    padding: 1.5%;
}


